.git
.gitignore
.zed
.vscode
.env
.env.local

cognition_env
cache
data
models
stored_files
texts
_space
docs
tests
gutenbergindex.db

frontend/node_modules
frontend/dist
frontend

scripts/__pycache__
*.pyc
*.pyo
*.pyd
docs
tests
_space
package.json
package-lock.json
commands.txt
notes.markdown
